/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
  Author's custom styles
  ========================================================================== */
  
     * {
      color: white;
      font-family: 'Special Elite';
      font-size: 1em;
     }

     #actions {
      width: 16%;
     }

     .active-tab {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease;
     }

     .application-page-forms * {
      background-color: rgb(195, 183, 183) !important;
     }

     .application-page-forms {
      width: 70%;
     }

     body {
      background-color: #157196 !important;
     }

     .btn-group-vertical {
      flex-direction: row !important;
     }

     .btn-logo {
       align-items: center;
       display: inline-flex;
      }
      
      .btn-logo img {
        margin-right: 50px;
        width: 30px;
      }

     .col-md-6 {
       text-align: center;
     }

     #company-input {
      background-color: #157196 !important;
      margin-bottom: 20px;
     }

     #copyright {
      margin-top: 0;
     }

     .custom-button {
       margin: 5px;
       width: 350px;
      }
    
      .dash-nav-item {
        font-size: 0.7em;
      }
    
      .delete-btn:hover {
          background-color: #6c757d;
      }
      
      .delete-button {
        color: white;
        font-size: 0.4em;
      }
      
      .dropdown {
        margin-left: auto;
      }

      #drop-file-text {
        margin: auto;
        text-align: left;
        width: 40%;
      }
      
      .drop-form {
       background-color: gray !important;
       border: none;
      }

      #edit-btn {
        background-color: rgb(212, 158, 56) !important;
        border: none;
      }

     .edit-button {
      color: white;
      font-size: 0.4em;
     }
    
     .fast {
      color:#61d265;
      text-shadow: 0 0 10px rgba(101, 120, 153, 1);
     }

     .fade-in {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
     }

     .fade-in.visible {
      opacity: 1;
     }

     footer.footer {
      margin-top: 0 !important;
     }

     form  {
      background-color: #6ebcf0;
      border: 2px solid #b5d2e6;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 40px;
     }

     .form-label {
      background-color: #6ebcf0;
     }

     .form-group {
      background-color: #1295c9;
      text-align: center;
     }

     header {
      background: linear-gradient(to bottom right, #2b84a7, #1295c9, #2b84a7);
      border: 2px solid rgb(77, 160, 187)
     }

     .info {
      color: black;
     }

     input {
      border: 1px solid black !important;
     }
      
      #interview-photo {
        border: 1px solid black;
        margin-top: 10px;
      }
      
      #job-title-input {
        background-color: #157196 !important;
        margin-bottom: 20px;
      }
      
      label {
        background-color: #6ebcf0;
      }
      
      .list-group-item {
        border: 2px solid black !important;
        color: black;
        margin-bottom: 4px;
      }
      
      #login-button {
        background-color: rgb(19, 163, 19) !important;
        border: 1px solid rgb(18, 201, 18) !important;
        margin-right: 80px;
        width: 30%;
      } 

      .login-label {
        background-color: #1295c9;
      }

      .logo {
        width: 10% !important;
      }

      #logo {
        width: 60%;
      }
      
      .navbar-collapse {
        flex-grow: 0 !important;
      }

      .navbar-nav {
        justify-content: center !important;
        margin-left: 60px;
        text-align: center;
      }
      
      .navbar-nav .nav-link {
        color: white !important;
        padding: 20px !important;
        text-shadow: 0 0 1px #90c7b7;
      }

      .nav-link.active {
        background-color: #0e95cb !important;
      }

      
      .nav-link {
        color: black !important;
        padding: 15px !important;
      }
      
      .nav-tabs {
        background-color: #44c4fb;
      }

      .new-app-start {
        margin-top: 30px;
      }
      
      .or {
        color: rgb(211, 206, 206);
        font-size: 2em;
      }

     .signup-h2 {
      color: black;
      font-size: 3em;
      font-style: italic;
     }

     #signup-h4 {
      color: black;
     }

     .social-button {
      background-color: #1295c9 !important;
     }

     .socials {
      margin-bottom: 40px;
     }

     .submit {
      background-color: #1a80b3 !important;
      border: 1px solid black !important;
     }

     .table {
      margin: auto;
      width: 90% !important;
     }

     .table-title {
      font-size: 1.5em;
     }

     .tab-pane {
      margin-top: 30px;
     }

     .team-member-container {
      height: 300px;
      margin-bottom: 20px;
     }

     .team-member-container img {
      height: 100%;
      width: auto;
     }
  
     .text {
      margin-bottom: 15px; 
     }

     .toolbar {
      background-color: #0b86b6;
      display: flex;
      flex-direction: column;
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 220px;
    }

    #top-toolbar {
      background-color: #1295c9 !important;
    }
    
    .uploaded-content {
      flex: 1;
      overflow: hidden;
    }
    
    .uploaded-date {
      font-size: 0.4em;
      margin-top: 4px;
      margin-bottom: 0;
    }

    .uploaded-icon {
      width: 30px;
      margin-right: 10px;
    }

    .uploaded-tab {
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     transition: box-shadow 0.3s ease;
     border-top: 1px solid rgb(81, 76, 76);
     border-bottom: 1px solid rgb(81, 76, 76);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 8px 0; /* Adjust padding to align with toolbar-left */
     margin-bottom: 10px;
     width: calc(100% - 20px); /* Subtract padding from the total width */
     margin-left: 0px; /* Align with the toolbar left */
     margin-right: 20px; /* Align with the toolbar left */
     text-decoration: none;
     color: inherit;
   }

   .uploaded-tab:hover {
     background-color: #1d9ccf;
     opacity: 0.9;
   }

   .uploaded-title {
     font-size: 0.7em;
     margin: 0;
   }

   .why-join {
      margin-bottom: 20px
   }
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }